body{
    /* background-image: url(Images/sky\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; */
    background-color: #DAFFFB;
}
.subject{
    color: #031913;
    font-size: 30px;
    font-family: sans-serif;
    padding: 0 14%;
}


.questionBox{
    width: 70%;
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    padding-left: 100px;
    margin: 2% auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
    border-radius: 10px;
    /* border: 0.1px solid black; */
    /* text-align: left;  */
    
}
textarea ,select{
    width: 90%;
    background-color: #DAFFFB;
    border-radius: 0 5px;
}

option{
    border-color:#DAFFFB ;
}
textarea:active{
    
    background-color: #1f1c13;
    border-radius: 0 5px;
}

radioswitches{
    display: flex;
    flex-direction: row;
}

input[type="radio"] {
    /* border-color: blue; */
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #330fa9; /* Default border color */
    border-radius: 50%;
    cursor: pointer;

}

input[type="radio"]:checked{
    background-color: #007bff; /* Change the background color */
    border-color: #007bff; /* Change the border color */
    color: #fff; 
}

switch{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-right: 27%;
}

.submitBtn {
    display: block;
    margin: 2% auto;
    padding: 5px 25px;
    background-color: green;
    color: white;
    border: 0;
    border-radius: 10px;
}

.submitBtn:hover {
    background-color: lightgreen;
    color: black;    
}


.thankYou{
    display: none;
}