body{
    background-image: url(../Images/lawn-1335365_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

body{
    z-index: 1;
}

footer{
    position: sticky;
    bottom: 0;
    background-color: aquamarine;
}

.column{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.option1{
    color: white;
    background-image: url(../Images/football-history\ 3.jpg);
}
.option1:hover{
    background-image: url(../Images/football-history\ 1.jpg)
}
.option2{
    color: white;
    background-image: url(../Images/teams\ and\ clubs\ 1.jpg);
}
.option2:hover{
    background-image: url(../Images/teams\ and\ clubs\ 2.jpg)
}

.option3{
    color: white;
    background-image: url(../Images/fans\ and\ culture\ 3.jpg  );
}
.option3:hover{
    background-image: url(../Images/fans\ and\ culture\ 1.jpg)
}

.option4{
    color: white;
    background-image: url(../Images/legends\ 1.jpg);
}
.option4:hover{
    background-image: url(../Images/legends\ 2.jpg)
}

.column button{
    display: flex;
    margin: 30px 30px;
    height: 250px;
    width: 400px;
    text-shadow: -3px -1px 0 black, -3px -1px 0 black, -3px -1px 0 black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 5px ;
    box-shadow: 0 0 15px 2px black;
}
.column button:hover{
    transform: scale(1.06);
    transform-origin: center;
    transition: 1s;
}