.image-container {
    width: 300px; /* Set the width and height of your div */
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("Images/fans\ and\ culture.jpg"); /* Initial background image */
    transition: background-image ; /* Smooth transition on hover */
}

/* Replace these URLs with your own image URLs */
@keyframes background-slideshow {
    0%, 100% {
        background-image: url("Images/football.png");
        background-position: left center; /* Image 1 */
    }
    25% {
        background-image: url("Images/ground.jpg");
        background-position: left center; /* Image 2 */
    }
    50% {
        background-image: url("Images/lawn-1335365_1280.jpg");
        background-position: left center; /* Image 3 */
    }
    75% {
        background-image: url("Images/san-siro-1940307_1280.jpg");
        background-position: left center; /* Image 4 */
    }
}

.image-container:hover {
    animation: background-slideshow 20s linear infinite; /* 3 seconds per image (4 images loop) */
}
