li {
  display: inline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  border: 2px solid black;
  transition: 0.5s;
  padding: 8px 18px;
  border-radius: 5px;
}

a:active {
  color: white;
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.topnav a.active {
  background-color: #0993ac;
  color: white;
  border-radius: 5px;
}

