
/* Start Hero */

.hero {
    /* background-size: contain; */
    /* background-position: center; */
    background-image: url(..//images/europe_fans.jpg);
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(14, 13, 13, 0.4);
    border-radius: 50px;
}

.hero-content{
    line-height: 2.5;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.hero-title{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font: size 20px;

}

.hero-subtitle{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 520px;
    
}

/* End Hero */

/* Start Content */
.content{
    margin: 75px auto;
}

/* Start Stat Item */
.stats{
    margin: 75px 0;
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

.stats-item{
    box-shadow: 0 3px 10px rgb(0,0,0,0.4);
    border-radius: 20px;
    padding: 15px;
    background-color: brown;
    text-align: center;
    transition: all 0.4s ease;
    
}

.stats-item:hover{
    cursor: default;
    transform: scale(1.2);
}

.stats-item:hover>h3{
    color: aqua;
}

.stats-item>h3{
    font-size: 28px;
}

.divider{
    border: 2px solid red;
    border-radius: 20px;
    height: 100px;
}
/* End Stat Item */

/* Start Description Item */

.content-inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 80px;
}

.description-item{
    box-shadow: 0 3px 10px rgb(0,0,0,0.4);
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* .description-item video{
    width: 400px;
} */
.inimg{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}
.images{
    margin-left: 20%;
}
.seimg{
    border-radius: 10px;
}

.video-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    width: 400px;
}
.video-description > a{
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 8px;
    width: 30%;
    margin-left:30% ;
    margin-top: 15px;
    padding: 10px;
   
}
/* End Description Item */

/* Start Read More  */
.readmore-content{
    margin: 100px 0;
}
.readmore-item{
    margin: 60px 0;
    padding: 35px 150px;
    line-height: 1.5;
    border-top: 1px solid black;
}
.readmore-item>h3{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.readmore-item>p{
    font-size: 23px;
}
.readmore-item images{
    display: flex;
    justify-content: center;
}
.readmore-item img{
    width: 300px;
    height: 200px;
    padding: 20px 10px;
    border-radius: 20px;
}
/* End Read More  */

.page-editor-button a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #001C30;
    border-radius: 20px;
    font-weight: bold;
    /* font-size: 20px; */
}

div ul{
    font-size: 23px;
}

