body{
    background-image: url(../../Images/green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#site {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px green;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    letter-spacing: 2px;
}
.svg {
    font-size: 24px;
    font-family: sans-serif,Poppins;
    stroke-width:4px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0.9);
}
rect {
    fill: rgb(6, 40, 15);
    stroke: white;
    stroke-width: 2px;
}
#group1 {
    text-anchor: middle;
}
line {
    stroke: white;
}
.svg text {
    fill: white;
}
.svg rect:hover {
    fill: #176B87;
}
.svg #sitemap rect{
    fill: #001C30;
}
.svg #sitemap rect:active{
    fill: #176B87;
}
#pageEditor text{
    font-size: medium;
}
#pageEditor rect{
    stroke: white;
    stroke-width: 1px;
}