/* styles of the body section */
body{
    background-image: url("../../Images/QuizBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255,0.2); 
    background-blend-mode: overlay;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
  }
  
  /* styles of the question section */
  #quizsection {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
  /* styles of the quiz container */
  #quizcontainer {
     display: none;
      width: 80%;
      max-width: 800px;
      border: 1px solid black;
      border-radius: 50px;
      padding: 50px;
      box-sizing: border-box;
      background-color: #64CCC5;
    }
  
  
  #topbar{
      display: flex;
      margin-bottom: 40px;
    }
  
  #timeCounter{
    margin-left: 100px;
  }
  
  #question{
      background-color: #DAFFFB;
      margin-top: 60px;
      border: 1px solid black;
      border-radius: 20px;
      padding: 10px;
  }
    
  
  .answerContainer{
      display: block;
      margin-top: 50px;
      margin-bottom: 40px;
  }
  
  span{
      margin: 30px;
      background-color:#DAFFFB ;
      border: 1px solid black;
      padding: 10px 60px 10px 60px; 
      border-radius: 50px;
  }
  
  /* styles of the all the answer buttons */
  .btn{
      width:250px ;
      border: 1px solid black;
      background-color: #DAFFFB;
      padding: 10px 60px 10px 60px; 
      border-radius: 50px;
      margin-left: 20px;
      margin-right: 70px;
  }
  
  /* styles of the view score */
  .viewScore{
    text-align: center;
    background-color:  #176B87;
    color: white;
    width: 130px;
    padding: 10px;
    border-radius: 15px;
    float: right;
    margin-right: 15px;
  }

  #start-button{
    text-align: center;
    background-color:  #176B87;
    color: white;
    width: 130px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
  }

  .quizStart-container{
    width: 80%;
    max-width: 500px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Shift left by half of width */
    top: 20%;
    overflow: auto; /* Enable scroll if needed */
    border-radius: 50px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  .score-container {
    display: none; /* Hidden by default */
    width: 80%;
    max-width: 500px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Shift left by half of width */
    top: 20%;
    overflow: auto; /* Enable scroll if needed */
    border-radius: 50px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  
  /* styles of score view container */
  .score-view, .quizStart {
    background-color: #dafffb;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .progressOutcome , .view-button{
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  
  .quizOutcome{
    margin-top: 30px;
    font-size: 18px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Styles  of close button hover and focus */
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* styles of start again button */
  #startAgain{
    background-color:  #176B87;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
  }
  
  
  
  
  