body{

    background-color: #DAFFFB;
}
.subject{
    color: #031913;
    font-size: 30px;
    font-family: sans-serif;
    padding: 0 14%;
}

.questionBox{
    width: 70%;
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    padding-left: 100px;
    margin: 2% auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
    border-radius: 10px;
    /* border: 0.1px solid black; */
    /* text-align: left;  */   
}

textarea ,select{
    width: 90%;
    background-color: #DAFFFB;
    border-radius: 0 5px;
}

option{
    border-color:#DAFFFB ;
}

textarea:active{
    
    background-color: #1f1c13;
    border-radius: 0 5px;
}

radioswitches{
    display: flex;
    flex-direction: row;
}

switch{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-right: 27%;
}

.submitBtn {
    display: block;
    margin: 2% auto;
    padding:10px 25px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.submitBtn:hover {
    background-color: lightgreen;
    color: black;    
  
}

.thankYou{
    display: none;
}

footer{
    padding-left: 1%;
    height: 25px;
    border-radius: 10px;
    position: sticky;
    top: 100vh;
    background-color: rgb(84, 214, 228);
}
footer a{
    text-decoration: none;
}