html{
    scroll-behavior: smooth;
}
body{
    background-color: #DAFFFB;
}

.hat{
    background-color: rgba(250, 235, 215, 0.547) ;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hat p{
    text-align: center;
    font-size: xx-large;
}

h1{


    font-family: 'Alfa Slab One', cursive;
    

    font-size: 600%;
}

.shortcuts{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.shortcuts div{
    background-color: rgb(100, 38, 38) ;
    border-radius: 20px;
    padding: 20px;
    margin:20px;
}
.shortcuts div:hover{
    transform: scale(1.1);
    transition: 1s;
}

.shortcuts a{
    text-decoration: none;
    color:azure  
} 
.shortcuts a:hover{
    color: black;
}

.subtopics div{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    height: 50vh;
    /* width: 180%; */
    margin-top: 5vh;
    border-radius: 25px;
    padding: 10vh;
    box-shadow: 0 6px 20px 0 rgba(114, 5, 5, 0.2), 0 6px 20px 0 rgba(251, 13, 13, 0.19);
}

#origin,#spread,#modern{
    background-color: #176B87;
}
#evolution,#international,#conclusion{
    background-color:azure
}
topic{    font-family: 'Edu SA Beginner', cursive;
    height: 10vh;
    font-size: 400%;
    padding: 10%;
}
content{
    display: flex;
    text-align: center;
    align-items: center;
}
content p{
    width: 40%;
    margin: 2% 10% 0 10%;
    font-size: 25px;
}
content img{
    width: 40%;
    margin: 0;
    height: 300px;
    border-radius: 30px;
    width:auto;
}

.conclusion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conclusion content{
    width: 100%;
}