*{
    box-sizing: border-box;
}
body{
    z-index: 1;

    background-image: url(../images/sky\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.intro{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/stadium\ background\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.catchphrase{
    text-shadow: -3px -1px 0 rgb(46, 33, 33), -3px -1px 0 rgb(63, 46, 46), -3px -1px 0 rgb(144, 24, 24);
    margin-left: 6%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 700%;
    color: rgb(246, 243, 243);
    text-align: left;
    
}

.details{
    margin-top: -5vh;
    text-shadow: -3px -1px 0 rgb(246, 235, 235), -3px -1px 0 rgb(228, 219, 219), -3px -1px 0 rgb(144, 24, 24);
    margin-left: 6%;
    font-size: xx-large;
    color: rgb(246, 243, 243);
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}
menu{
    margin-top: 10vh;
}



.column{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.option1{
    color: white;
    background-image: url(../images/football-history\ 3.jpg);
}
.option1:hover{
    background-image: url(../images/football-history\ 1.jpg)
}

.option2{
    color: white;
    background-image: url(../images/teams\ and\ clubs\ 1.jpg);
}
.option2:hover{
    background-image: url(../images/teams\ and\ clubs\ 2.jpg)
}

.option3{
    color: white;
    background-image: url(../images/fans\ and\ culture\ 3.jpg  );
}
.option3:hover{
    background-image: url(../images/fans\ and\ culture\ 1.jpg)
}

.option4{
    color: white;
    background-image: url(../images/legends\ 1.jpg);
}
.option4:hover{
    background-image: url(../images/legends\ 2.jpg)
}

.column button{
    display: flex;
    margin: 30px 30px;
    height: 250px;
    width: 400px;
    text-shadow: -3px -1px 0 black, -3px -1px 0 black, -3px -1px 0 black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 5px ;
    box-shadow: 0 0 15px 2px black;
}
.column button:hover{
    transform: scale(1.06);
    transform-origin: center;
    transition: 1s;
}



footer{
    /* position: sticky; */
    bottom: 0;
    background-color: aquamarine;
}